.sec_comments#comments {
  @include touch {
    margin-bottom: 25px;
  }
  .art {
    padding-top: 0;
    .head2 {
      @include touch {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
    .desc {
      @include touch {
        font-size: 16px;
        margin-bottom: 35px;
      }
    }
    .slider {
      ul {
        .owl-stage-outer {
          .owl-item {
            li {
              width: auto !important;
              margin: 0;
              @include desktop {
                margin: 0 25px;
              }
              .header {
                @include desktop {
                  min-height: 65px;
                }
              }
              .text {
                height: auto;
                padding: 20px;
                .date {
                  position: relative;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
