#quiz.sec_quiz {
  @include touch {
    margin-top: 20px;
  }
  .art {
    .head2 {
      &.title {
        @include touch {
          line-height: 27px !important;
          margin-bottom: 10px !important;
          font-size: 22px !important;
          font-weight: 600;
        }
      }
    }
    #app {
      div {
        div {
          h2 {
            font-size: 24px;
            font-weight: 700;
            color: black;
            @include mobile {
              font-size: 17px;
            }
          }
          ol {
            li {
              @include mobile {
                padding: 10px;
                margin-right: 10px;
              }
              .new {
                .option {
                  @include mobile {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
      .new {
        .option {
          .check-box {
            box-sizing: content-box !important;
          }
        }
      }
      .form-quiz {
        .head3 {
          @include touch {
            font-size: 16px;
            margin: 11px 0;
            line-height: 20px;
          }
        }
        form {
          .items {
            @include touch {
              width: auto;
            }
          }
        }
      }
    }
  }
}
