@import 'variables';
@import '~bulma/sass/utilities/_all';
//@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/components/media';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/layout/section';
// Custom styles
//@import 'components/header';
.is-hidden {
  display: none;
}

.sec_offer {
  .sec_hook {
    .wrap {
      background-color: #f1f1f3;
      padding: 25px;
      width: auto;
      form {
        .items {
          .item {
            max-width: 380px;
            margin: 0 auto 15px;
            @include mobile {
              width: auto;
            }
          }
        }
        label {
          .label {
            color: black;
          }
        }
      }
      .rem {
        color: black;
      }
    }
  }
}

.sec_compressors {
  .art {
    .items {
      @include mobile {
        display: block;
      }
      .item {
        margin: 0 auto;
      }
    }
  }
}

body {
  @include touch {
    padding-top: 52px !important;
  }
  .section {
    @include touch {
      padding: 0 12px;
    }
  }
}

header.header {
  @include touch {
    height: 52px;
  }
}

.header {
  .navbar {
    &.is-spaced {
      width: auto;
      float: none;
      @include touch {
        padding: 0;
      }
    }
    .navbar-menu {
      @include touch {
        .navbar-start {
          width: 100%;
        }
      }
    }
  }
  &__logo {
    padding: 6px 8px !important;
  }
  .contacts {
    @include touch {
      float: none;
      width: auto;
      text-align: left;
    }
    .email {
      &:before {
        content: '';
        display: inline-block;
        background: url(/styles/img/icon_mail.png) no-repeat left center;
        width: 22px;
        height: 22px;
        margin-top: -3px;
        margin-right: 5px;
        @include touch {
          margin-bottom: -8px;
          margin-top: 0;
        }
      }
    }
    .phone {
      &:before {
        content: '';
        display: inline-block;
        background: url(/styles/img/icon_phone.png) no-repeat left center;
        width: 22px;
        height: 22px;
        margin-top: -7px;
      }
    }
  }
}

.sec_offer {
  height: auto;
  background-image: none;
  .banner {
    position: relative;
    overflow: hidden;
    padding: 0 12px;
    &__img {
      max-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      @include tablet-only {
        right: 0;
      }
      img {
        height: auto;
        max-width: 100%;
        @include mobile {
          max-width: none;
          height: 100%;
        }
        @include tablet-only {
          width: 100%;
        }
        @include desktop-only {
          height: 100%;
        }
      }
    }
    .art {
      @include touch {
        padding-top: 35px;
      }
      .info {
        width: auto;
        float: none;
        padding-top: 0;
        > p {
          @include touch {
            font-size: 15px;
          }
        }
        .sec_hook {
          @include touch {
            margin-top: 25px;
            margin-bottom: 35px;
          }
        }
      }
    }
    &__box {
      position: relative !important;
      width: auto !important;
      left: 0 !important;
      @include touch {
        padding: 15px;
      }
      h1 {
        @include touch {
          font-size: 26px;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 7px;
        }
        @include desktop-only {
          font-size: 40px;
        }
      }
      .desc {
        @include touch {
          font-size: 15px;
        }
        @include desktop-only {
          font-size: 22px;
        }
      }
    }
  }
}

#compressors.sec_compressors {
  .art {
    .head2 {
      @include touch {
        font-size: 22px;
        line-height: 27px;
        font-weight: 600;
      }
      @include mobile {
        text-align: center;
      }
    }
    .items {
      @include touch {
        margin-top: 20px;
      }
      .item {
        max-width: 350px;
        @include mobile {
          width: 100%;
        }
        .desc {
          @include mobile {
            top: -211px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

#compressors_form.sec_svyazatsa_form {
  @include touch {
    margin-top: 20px;
  }
  .art {
    @include mobile {
      padding: 35px 12px;
    }
    .wrap {
      .head2 {
        @include touch {
          line-height: 30px;
          font-size: 22px;
        }
      }
      form {
        @include mobile {
          width: auto;
        }
        .items {
          @include touch {
            width: auto;
          }
          .item {

          }
        }
      }
    }
  }
}

#quiz.sec_quiz {
  @include touch {
    margin-top: 20px;
  }
  .art {
    .head2 {
      &.title {
        @include touch {
          line-height: 27px !important;
          margin-bottom: 10px !important;
          font-size: 22px !important;
          font-weight: 600;
        }
      }
    }
    #app {
      div {
        div {
          h2 {
            @include mobile {
              font-size: 17px;
            }
          }
          ol {
            li {
              @include mobile {
                padding: 10px;
                margin-right: 10px;
              }
              .new {
                .option {
                  @include mobile {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
      .form-quiz{
        .head3{
          @include touch{
            font-size: 16px;
            margin: 11px 0;
            line-height: 20px;
          }
        }
        form{
          .items{
            @include touch{
              width: auto;
            }
          }
        }
      }
    }
  }
}

.sec_buyout_long#buyout_long {
  @include touch {
    margin-bottom: 0;
  }
  .art {
    @include touch {
      padding-top: 0;
    }
    .items {
      .item {
        .header {
          margin-top: 0;
          margin-left: 0;
          width: auto !important;
          @include touch {
            padding: 10px 12px !important;
          }
          .head2 {
            @include touch {
              font-size: 22px;
              line-height: 31px
            }
          }
        }
        .icons {
          @include touch {
            height: auto;
          }
          ul {
            @include mobile {
              padding-bottom: 20px;
            }
            @include tablet-only {
              padding-bottom: 0;
            }
            li {
              @include tablet-only {
                height: auto;
                margin-top: 0;
              }
              @include mobile {
                height: 158px;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 20px;
              }
              .icon {
                @include mobile {
                  height: 66px;
                  line-height: 71px;
                  margin-bottom: 17px;
                }
                @include tablet-only {
                  height: 57px;
                }
                img {
                  @include mobile {
                    margin-top: 19px;
                    font-size: 14px;
                    width: 40px;
                  }
                  @include tablet-only {
                    width: 55px;
                  }
                }
              }
              .title {
                @include mobile {
                  margin-top: 19px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .notice {
      @include touch {
        margin-top: 40px;
        font-size: 14px;
        padding: 15px 0;
        span {
          font-size: 16px;
        }
      }
    }
  }
}

.sec_contacts#contacts {
  .art {
    .head2 {
      @include touch {
        font-size: 22px;
        margin-bottom: 6px;
        font-weight: 600;
        line-height: 29px;
      }
    }
    .desc {
      @include touch {
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
  }
  .bg {
    padding: 40px 12px;
    margin: 0 -24px;
    @include touch {
      padding: 20px 12px;
      margin: 0 -12px;
    }
    .art2 {
      &.art {
        height: auto !important;
        .ymap {
          width: 100%;
          height: 100%;
          float: none;
        }
        .contacts {
          float: none;
          padding-top: 0;
          width: 100%;
          .address, .phones, .email {
            @include touch {
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 18px;
            }
          }
          .socials {
            .item {
              float: none;
              margin-bottom: 18px;
              @include touch {
                margin-bottom: 0;
                img {
                  width: 24px;
                }
                .clickgoal {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sec_buyout#buyout {
  .art {
    @include touch {
      padding-top: 0;
    }
    .items {
      .item {
        float: none;
        @include tablet {
          width: 50%;
        }
        @include touch {
          width: auto !important;
        }
        .header {
          height: auto;
          min-height: 210px;
          padding: 25px;
          @include touch {
            padding: 20px;
            min-height: auto;
          }
          @include tablet-only {
            min-height: 154px;
          }
          .head2 {
            line-height: 40px;
            margin-bottom: 12px;
            @include touch {
              font-weight: 600;
              font-size: 22px;
              line-height: 30px;
              margin-bottom: 10px;
            }
          }
          .desc {
            @include touch {
              font-size: 16px;
            }
          }
        }
        .wrapper {
          position: relative;
          overflow: hidden;
          @include tablet-only {
            min-height: 346px;
          }
          .img {
            width: auto !important;
            left: 0;
            bottom: 0;
            right: 0;
            @include touch {
              height: auto;
            }
            img {
              @include touch {
                max-width: none;
              }
            }
          }
          .icons {
            @include touch {
              padding-bottom: 20px;
              height: auto;
            }
            ul {
              li {
                @include touch {
                  height: auto;
                  padding: 20px 10px;
                }
                .icon {
                  @include touch {
                    height: 65px;
                    line-height: 65px;
                    margin-bottom: 10px;
                  }
                  img {
                    @include touch {
                      width: 50px;
                    }
                  }
                }
                .title {
                  @include touch {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sec_hook#hook {
  .art {
    @include touch {
      background: #f1f1f2;
      padding: 20px;
      height: auto !important;
      margin: 0 -12px;
    }
    .wrap {
      @include touch {
        padding-left: 0;
        width: auto;
      }
      .head2 {
        @include touch {
          font-size: 22px;
          margin-bottom: 10px;
          font-weight: 600;
          line-height: 30px;
        }
      }
      form {
        .items {
          .item {
            float: none !important;
            width: auto;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.sec_comments#comments {
  @include touch {
    margin-bottom: 0;
  }
  .art {
    .head2 {
      @include touch {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
    .desc {
      @include touch {
        font-size: 16px;
        margin-bottom: 35px;
      }
    }
    .slider {
      ul {
        .owl-stage-outer {
          .owl-item {
            li {
              width: auto !important;
              margin: 0;
              @include desktop {
                margin: 0 25px;
              }
              .text {
                @include touch {
                  height: auto;
                  padding: 20px;
                }
                .date {
                  @include touch{
                    position: relative;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
